//
// Navbar
//
@include color-mode(dark) {
    .navbar-default {
        background-color: #151719 !important;
    }
}


//
// Meta-Menu
//
.meta-menu {
    .footer-navigation-link-level-1 {
        font-weight: 300;
        text-decoration: none;
    }
}
