//
// Logo
//
.navbar-brand-logo-normal {
    margin-top: 0.5rem;
}

//
// Meta-Menu
//
.meta-menu {
    .footer-navigation-link-level-1 {
        font-weight: 300;
        text-decoration: none;
    }
}
